@media (min-width: 320px) and (max-width: 767px){
    .catalouge-list > .listings {
        width: 45.8%;
    }
    .block-head > .row > .col-12:last-child{
        margin-top: 10px;
    }
    .catalouge-list > .listings > .description > .bold {
        font-size: 16px;
    }
    .catalouge-list > .listings > .description > .title-product{
        font-size: 12px;
    }
    .rating-div{
        font-size: 12px;
    }
    .catalouge-list > .listings > .img-product > img {
        width: 100%;
        object-fit: cover;
        height: 130px;
    }
    .flex-wrapper,
    .d-flex{
        display: block !important;
    }
    .left-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
    .payment-merchant .custom{
        padding: 20px;
    }
    .payment-merchant{
        width: 100%;
    }
    .timer span.minutes::before {
        left: 42.5%;
    }
    .call .d-flex .flex-shrink-1{
        display: inline-block;
    }
    .call .d-flex .w-100{
        width: 52% !important;
        display: inline-block;
    }
    .flex-remaining {
        display: inline-block;
        width: 49%;
    }
    .form-new-address-mobile input,
    .form-new-address-mobile textarea{
        border-top: none;
        border-right: none;
        border-left: none;
        padding: 0px 0px 5px;
        border-radius: 0px;
    }
    .table-item{
        margin-bottom: 40px;
    }
    .footer-btn{
        display: block;
    }
    .footer-btn .form-group, .footer-btn .action{
        width: 100%;
    }
    .footer-btn .form-group input{
        width: 50%;
        margin-right: 10px;
    }
    .footer-btn .action > button{
        width: 100%;
    }
    .table-item td:nth-child(2) img {
        width: auto;
    }
    .table-item .inline-block{
        width: 100%;
    }
    .table-item td:nth-child(2) span{
        font-size: 14px;
    }
    .basket-header-text .partner-logo{
        width: 24%;
    }
    .basket-header-text h6{
        font-size: 16px;
    }
    ul.under-list li > div {
        flex: 1 1 14em;
    }
    ul.under-list li{
        align-items: flex-start;
    }
    ul.under-list li > div:first-child{
        margin-right: 10px;
    }
    ul.under-list li > div.text{
        font-size: 12px;
    }
    ul.under-list li > div:last-child{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .catalouge-list > .listings{
        width: 30.8%;
    }
    .catalouge-list > .listings > .description > .bold{
        font-size: 18px;
    }
    .catalouge-list > .listings > .description > .title-product{
        font-size: 12px;
    }
    .catalouge-list > .listings > .img-product > img {
        height: 130px;
    }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape){

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}